<div class = "container">
    <div class="jumbotron">
      <h1 class="display-4">Start cooking <%= @menu.name%></h1>
      <p class="lead">Plan to cook for <%=@menu.menu_total_time %> minutes. To finish by <%= @menu.target_completion_time.hour %>:<%= @menu.target_completion_time.min %>, you need to start at <%= @starttime.hour %>:<%= @starttime.min %>.</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="/menus/<%=@menu.id%>" role="button">Adjust Menu</a>
    </div>
</div>
<div class= "container">
    <div class="row align-items-start">
        <div class="col-1">
            <div class="card bg-light mb-3 text-center">
                Time
            </div>
        </div>
        <% @menu.recipes.each do |recipe|%>
        <div class="col">
            <div class="card bg-primary text-white mb-3 text-center">
                <%= recipe.title %>
            </div>
        </div>
        <% end %>
    </div>
    <div class="row">
        <div class="card bg-info mb-3 text-center mx-3 w-100">
            You should be done! Its <%= @menu.target_completion_time.strftime("%l:%M") %>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <% @time_measures.sort.reverse.each do |timeposts|%>
            <div class="card bg-light d-flex justify-content-center align-items-center" style= "height: <%=@oneminutesize.to_i%>px">
                <span>
                    <%= Time.at(timeposts).strftime("%l:%M") %>
                </span>
            </div>
            <%end%>
        </div>
        <% @menu.recipes.each do |recipe|%>
            <div class="col">
                <% recipe.steps.order(:sequence_number).reverse_order.each do |step| %>
                    <% if step.active == 1 %>
                        <% if step.time_length.to_i < @minimumtime*2 %>
                            <div class="card text-white bg-primary justify-content-center" style="height: <%=(@oneminutesize.to_i*step.time_length.to_i)%>px">
                              <div class="card-body">
                                <span>
                                    <% s = step.description %>
                                    <p class="card-title">Step <%=step.sequence_number%>: <%= s.truncate(20) %></p>
                                    <p class="card-text"> <%=step.time_length %> minutes </p>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#<%=step.id%>">
                                      See details
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="<%=step.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                      <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="<%step.id%>"><%= step.sequence_number %> </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <%= step.sequence_number %> 
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </span>
                              </div>
                            </div>
                        <% else %>
                            <div class="card text-white bg-primary" style="height: <%=(@oneminutesize.to_i*step.time_length.to_i)%>px">
                              <div class="card-body justify-content-center">
                                <span>
                                    <p class="card-title">Step <%=step.sequence_number %>: <%=step.description %></p>
                                    <p class="card-text"> <%=step.time_length %> minutes </p>
                                </span>
                              </div>
                            </div>
                        <% end %>
                    <% else %>
                    <div class="card border-primary" style="height: <%=(@oneminutesize.to_i*step.time_length.to_i)%>px">
                      <div class="card-body text-primary justify-content-center">
                        <span>
                            <p class="card-title">Step <%=step.sequence_number %>: <%=step.description %></p>
                            <p class="card-text"><%=step.time_length %> minutes </p>
                        </span>
                      </div>
                    </div>
                    <% end%>
                <% end %>
            </div>
        <% end %>
    </div>
    <div class="row">
        <div class="card bg-success text-white mb-3 text-center mx-3 w-100">
            Start cooking at <%= @starttime.strftime("%l:%M") %>
        </div>
    </div>
</div>


