<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All menus
    </h1>

    <a href="/menus/new" class="btn btn-block btn-outline-secondary">
      Add a new menu
    </a>
  </div>
</div>

<% @menus.each do |menu| %>
 <div class="card text-center mx-3">
    <div class="card-header">
      <h2>
        <%=menu.name%>
      </h2>
    </div>
    <div class="card-body">
      <p class="card-text"><%=menu.description%></p>
      <p> This menu was designed by <a href="users/<%=menu.user_id%>"><%=menu.user.email%></a> and serves <%= menu.servings %>. Under current settings, the menu is scheduled to be served at <%=menu.target_completion_time.hour%>:<%=menu.target_completion_time.min%> </p>
      <div class = "row">
        <div class="col">
          <a href="/menus/<%=menu.id%>" class="btn btn-primary">View menu</a>          
          <a href="/menus/cook/<%=menu.id%>" class="btn btn-primary">Cook menu</a>          
        </div> 
      </div>
    </div>
    <div class="card-footer text-muted">
      Time to prepare: <%= menu.menu_total_time %> minutes
    </div>
  </div>
<% end %>
