<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All menus
    </h1>

    <a href="/menus/new" class="btn btn-block btn-outline-secondary">
      Add a new menu
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Name
        </th>

        <th>
          Servings
        </th>

        <th>
          Target completion time
        </th>

        <th>
          Description
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>
        <th>
          Time
        </th>
        <th>
        </th>
      </tr>

      <% @menus.each do |menu| %>
      <tr>
        <td>
          <%= menu.id %>
        </td>

        <td>
          <%= menu.user_id %>
        </td>

        <td>
          <%= menu.name %>
        </td>

        <td>
          <%= menu.servings %>
        </td>

        <td>
          <%= menu.target_completion_time %>
        </td>

        <td>
          <%= menu.description %>
        </td>

        <td>
          <%= time_ago_in_words(menu.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(menu.updated_at) %> ago
        </td>
         <td>
          <%= menu.menu_total_time %>
        </td>

        <td>
          <a href="/menus/<%= menu.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
