<!-- Validation failure messages -->
<% if @menu.present? %>
  <% if @menu.errors.any? %>
    <% @menu.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new menu
</h1>


<hr>

<form action="/create_menu" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @menu.user_id %>">
  </div>

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @menu.name %>">
  </div>

  <div class="form-group">
    <label for="servings">
      Servings
    </label>

    <input type="text" id="servings" name="servings" class="form-control" value="<%= @menu.servings %>">
  </div>

  <div class="form-group">
    <label for="target_completion_time">
      Target completion time
    </label>

    <input type="text" id="target_completion_time" name="target_completion_time" class="form-control" value="<%= @menu.target_completion_time %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @menu.description %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create menu
  </button>
</form>

<hr>

<a href="/menus">
  Go back
</a>
