<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All memberships
    </h1>

    <a href="/memberships/new" class="btn btn-block btn-outline-secondary">
      Add a new membership
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Cause
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @memberships.each do |membership| %>
      <tr>
        <td>
          <%= membership.id %>
        </td>

        <td>
          <%= membership.user_id %>
        </td>

        <td>
          <%= membership.cause_id %>
        </td>

        <td>
          <%= time_ago_in_words(membership.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(membership.updated_at) %> ago
        </td>

        <td>
          <a href="/memberships/<%= membership.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
