<div class="row mb-3">
  <div class="col-md-12">
    <h3>
      Buildings in Chicago
    </h3>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <%= render partial: "building_templates/all_photos_map" %>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Name
        </th>

        <th>
          Address
        </th>

        <th>
          Neighborhood
        </th>

      </tr>

      <% @buildings.each do |building| %>
      <tr>
        <td>
          <a href="/buildings/<%= building.id %>">
            <%= building.name %>
          </a>
        </td>

        <td>
          <%= building.address %>
        </td>

        <td>
          <%= building.neighborhood %>
        </td>
      </tr>
      <% end %>
    </table>
    
    <a href="/buildings/new" class="btn btn-block btn-outline-secondary">
      Add a new building
    </a>
  </div>
</div>
