<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All buildings
    </h1>

    <a href="/buildings/new" class="btn btn-block btn-outline-secondary">
      Add a new building
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Address
        </th>

        <th>
          Neighborhood
        </th>

        <th>
          Address latitude
        </th>

        <th>
          Address longitude
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @buildings.each do |building| %>
      <tr>
        <td>
          <%= building.id %>
        </td>

        <td>
          <%= building.address %>
        </td>

        <td>
          <%= building.neighborhood %>
        </td>

        <td>
          <%= building.address_latitude %>
        </td>

        <td>
          <%= building.address_longitude %>
        </td>

        <td>
          <%= time_ago_in_words(building.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(building.updated_at) %> ago
        </td>

        <td>
          <a href="/buildings/<%= building.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
