<div class="row mb-3">
  <div class="col-md-12">
    <div class="row mb-3">
      <div class="col">
        <a href="/buildings" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/buildings/<%= @building.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit building
        </a>
      </div>

      <div class="col">
        <a href="/delete_building/<%= @building.id %>" class="btn btn-block btn-outline-secondary">
          Delete building
        </a>
      </div>
    </div>
    <div class="row mb-3 mt-3">
      <div class="col-md-6">
        <dl>
          <dt>
            Address
          </dt>
          <dd>
            <div>
              <%= render partial: "building_templates/one_photo_map" %>
            </div>
          </dd>
        </dl>
      </div>
      <div class="col-md-6">
        <dl>
          <dt>
            Name
          </dt>
          <dd>
            <%= @building.name %>
          </dd>
          
          <dt>
            Neighborhood
          </dt>
          <dd>
            <%= @building.neighborhood %>
          </dd>
    
          <dt>
            Web Page
          </dt>
          <dd>
            <a target="_blank" href="<%= @building.webpage %>"><%= @building.webpage %></a>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <%= render partial: "building_templates/building_building_amenities" %>
  </div>
</div>

