<% if @menu_step.errors.any? %>
  <% @menu_step.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit menu step #<%= @menu_step.id %>
</h1>

<hr>

<form action="/update_menu_step/<%= @menu_step.id %>" method="post">

  <div class="form-group">
    <label for="step_id">
      Step
    </label>

    <input type="text" id="step_id" name="step_id" class="form-control" value="<%= @menu_step.step_id %>">
  </div>

  <div class="form-group">
    <label for="menu_appearance_id">
      Menu appearance
    </label>

    <input type="text" id="menu_appearance_id" name="menu_appearance_id" class="form-control" value="<%= @menu_step.menu_appearance_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update menu step
  </button>
</form>

<hr>

<a href="/menu_steps">
  Go back
</a>
