<!-- Validation failure messages -->
<% if @event.errors.any? %>
  <% @event.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit event #<%= @event.id %>
</h1>

<hr>

<form action="/update_event/<%= @event.id %>" method="post">
  <!-- Label and input for city -->
  <div class="form-group">
    <label for="city">
      City
    </label>

    <input type="text" id="city" name="city" class="form-control" value="<%= @event.city %>">
  </div>

  <!-- Label and input for event_name -->
  <div class="form-group">
    <label for="event_name">
      Event name
    </label>

    <input type="text" id="event_name" name="event_name" class="form-control" value="<%= @event.event_name %>">
  </div>

  <!-- Label and input for date -->
  <div class="form-group">
    <label for="date">
      Date
    </label>

    <input type="text" id="date" name="date" class="form-control" value="<%= @event.date %>">
  </div>

  <!-- Label and input for description -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @event.description %></textarea>
  </div>

  <!-- Label and input for host_id -->
  <div class="form-group">

    <input type="hidden" id="host_id" name="host_id" class="form-control" value="<%= @event.host_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update event
  </button>
</form>

<hr>

<a href="/events">
  Go back
</a>
