<h1>
  All events
</h1>

<a href="/events/new">
  Add a new event
</a>

<hr>
<div>
  <h2>Search Events</h2>
<%= search_form_for @q do |f| %>
<dl>
  
<div >
  <%= f.label :event_name_cont %>
  <%= f.search_field :event_name_cont %>
</div>
<div >
  <%= f.label :city_cont %>
  <%= f.search_field :city_cont %>
</div>
<div >
  <%= f.label :description_cont %>
  <%= f.search_field :description_cont %>
</div>
<div >
  <%= f.label :event_name_or_city_or_description_cont %>
  <%= f.search_field :event_name_or_city_or_description_cont %>
</div>
<dl>
<div >
  <%= f.submit %>
</div>
<% end %>
</div>


<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      City
    </th>

    <th>
      Event name
    </th>

    <th>
      Date
    </th>

    <th>
      Description
    </th>

    <th>
      Host
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
    <th>
    </th>
    <th>
    </th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td>
      <%= event.id %>
    </td>

    <td>
      <%= event.city %>
    </td>

    <td>
      <%= event.event_name %>
    </td>

    <td>
      <%= event.date %>
    </td>

    <td>
      <%= event.description %>
    </td>

    <td>
      <%= event.host.username %>
    </td>

    <td>
      <%= time_ago_in_words(event.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(event.updated_at) %> ago
    </td>

    <td>
      <a href="/events/<%= event.id %>">
        Show details
      </a>
    </td>
    <td>
      
    <%if event.host_id==current_user.id%>
      <a href="/events/<%= event.id %>">
      Edit event
      </a>
    <%else%>
    <% end %>
    
    </td>
    <td>
      <!-- Validation failure messages -->
      <% if @signup.present? %>
        <% if @signup.errors.any? %>
            <% @signup.errors.full_messages.each do |message| %>
            <div class="alert alert-danger">
          <%= message %>
            < /div>
            <% end %>
        <% end %>
      <% end %>    
    
    <%if event.host_id==current_user.id%>
    <%else%>
    <!--registration form-->
     
      <%if current_user.plans.exists?(event.id) %>
        <% @current_signup_id  = Signup.where(:event_id => event.id, :tourist_id => current_user.id)[0].id %>
        
          <button class="btn btn-block btn-secondary">
           <a href="/delete_signup/<%= @current_signup_id %>" >
           Unregister
           </a>
          </button>
          
              
          
          
      <%else%>
        <form action="/create_signup" method="post">
         <label for="event_id">
        </label>
        <input type="hidden" id="event_id" name="event_id" class="form-control" value="<%= event.id %>">
        <label for="tourist_id">
        </label>
        <input type="hidden" id="tourist_id" name="tourist_id" class="form-control" value="<%= current_user.id %>">

        <button class="btn btn-block btn-outline-secondary">
        Register!
        </button>
        </form>
      <%end%>
      
    <%end%>   
  </td>
  
  <%end%>
  </tr>


</table>
