<h1>
  All events
</h1>

<a href="/events/new">
  Add a new event
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      City
    </th>

    <th>
      Event name
    </th>

    <th>
      Date
    </th>

    <th>
      Description
    </th>

    <th>
      Host
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @events.each do |event| %>
  <tr>
    <td>
      <%= event.id %>
    </td>

    <td>
      <%= event.city %>
    </td>

    <td>
      <%= event.event_name %>
    </td>

    <td>
      <%= event.date %>
    </td>

    <td>
      <%= event.description %>
    </td>

    <td>
      <%= event.host_id %>
    </td>

    <td>
      <%= time_ago_in_words(event.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(event.updated_at) %> ago
    </td>

    <td>
      <a href="/events/<%= event.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
