<h1>
  Event #<%= @event.id %> details
</h1>

<a href="/events/<%= @event.id %>/edit">
  Edit event
</a>

<hr>

<dl>
  <dt>
    Tourists who signed up
  </dt>
    <%@event.tourists.first%>
    <%@tourist_of_event.each do |tourist|%>
    <tr>
      <dl>
        <%=tourist.username%>
      </dl>
    </tr>
    <%end%>
  <dd>
    <%= @event.city %>
  </dd>
  <dt>
    City
  </dt>
  <dd>
    <%= @event.city %>
  </dd>

  <dt>
    Event name
  </dt>
  <dd>
    <%= @event.event_name %>
  </dd>

  <dt>
    Date
  </dt>
  <dd>
    <%= @event.date %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @event.description %>
  </dd>


  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@event.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@event.updated_at) %> ago
  </dd>
</dl>

<a href="/delete_event/<%= @event.id %>">
  Delete event
</a>

<hr>

<a href="/events">
  Go back
</a>
