<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Building bookmark #<%= @building_bookmark.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/building_bookmarks" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/building_bookmarks/<%= @building_bookmark.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit building bookmark
        </a>
      </div>

      <div class="col">
        <a href="/delete_building_bookmark/<%= @building_bookmark.id %>" class="btn btn-block btn-outline-secondary">
          Delete building bookmark
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Building
      </dt>
      <dd>
        <%= @building_bookmark.building_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @building_bookmark.user_id %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @building_bookmark.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@building_bookmark.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@building_bookmark.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

