<!-- Validation failure messages -->
<% if @activity.errors.any? %>
  <% @activity.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="container">
<h1>
  Edit <%= @activity.activity %>
</h1>

<hr>

<form action="/update_activity/<%= @activity.id %>" method="post">
  <!-- Label and input for activity -->
  <div class="form-group">
    <label for="activity">
      Activity
    </label>

    <input type="text" id="activity" name="activity" class="form-control" value="<%= @activity.activity %>">
  </div>

  <!-- Label and input for category -->
  <div class="form-group">
    <label for="category">
      Category
    </label>
    <%= select_tag("category", options_from_collection_for_select(Category.all, :category, :category, @activity.try(:category)), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update activity
  </button>
</form>

<hr>

<a href="/activities">
  Go back
</a>
</div>