<div class="container">
<h1>
  All activities
</h1>

<a href="/activities/new">
  Add a new activity
</a>

<hr>

<table class="table">
  <tr>
    <th>
      Activity
    </th>

    <th>
      Category
    </th>

    <th>
      Present in
    </th>

    <th>
    </th>
  </tr>

  <% @activities.each do |activity| %>
  <tr>
    <td>
      <%= activity.activity %>
    </td>

    <td>
      <%= activity.category %>
    </td>

    <td>
      <ul class="list-group">
      <%   LocationActivity.where(activity_id: activity.id).each do |detail| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="/locations/<%= detail.location_id %>">
             <%= Location.find(detail.location_id).city_name %>
          </a>
          <span class="badge badge-primary badge-pill"><%= detail.feature_rating.to_i %></span> 
        </li>
      <% end 
      ## changed float to interger for readability
      %>
      </ul>
    </td>

    <td>
      <a href="/activities/<%= activity.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
</div>