

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="jumbotron">
        <h3>
           <%= @activity.activity %> details
        </h3>
      </div>
    </div>
  </div>




<hr>
<div class="row">
  <div class="col-md-8 offset-md-2">
<dl>
  <dt>
    Category
  </dt>
  <dd>
    <%= @activity.category %>
  </dd>
</div>

  <div class="col-md-8 offset-md-2">
  <dt>
    Present in
  </dt>
  <dd>
   <ul class="list-group">
      <%   LocationActivity.where(activity_id: @activity.id).each do |detail| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
             <%= Location.find(detail.location_id).city_name %>
          </div>
          <div>
            <span class="badge badge-primary badge-pill"><%= detail.feature_rating.to_i %></span> 
            <a href="/add_count/<%= detail.id %>" class="badge badge-success justify-content-end">add</a>
            <a href="/remove_count/<%= detail.id %>" class="badge badge-danger justify-content-end">subtract</a>
          </div>
        </li>
      <% end 
      ## changed float to interger for readability
      %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <form action="/create_location_activity" method="post">
          <div class="form-group">
            <label for="location_id">
              Add Activity to Location
            </label>
            <%= select_tag("location_id", options_from_collection_for_select(Location.all, :id, :city_name), :class => "form-control") %>
            or <a href="/locations/new">Add a new location</a> first
          </div>
          
          <input type="hidden" name="activity_id" value="<%=@activity.id %>">
          <input type="text" id="feature_rating" name="feature_rating" class="form-control" value="1">
          
        <button class="btn btn-block btn-outline-secondary">
          Add Activity
        </button>
      </li>
      </form>
      </ul>
  </dd>
  </div>

</dl>



<hr>


<div class="col-md-8 offset-md-2">
  <a class="btn btn-primary" href="/activities">Go back</a>
  <a class="btn btn-info" href="/activities/<%= @activity.id %>/edit">Edit activity</a>
  <a class="btn btn-danger" href="/delete_activity/<%= @activity.id %>">Delete activity</a>
</div>









</div>