<h1>
  All Residents
</h1>

<% if current_user.seniority == "Chief" %>
<a href="/shifts/new">
  Add a new resident
</a>
<hr>

<% end %>


<h3>
  Active Residents
</h3>
<table class="table">
  <tr>
    <th>
      Resident ID
    </th>

    <th>
      Resident Name
    </th>

    <th>
      Seniority
    </th>

    <th>
      Last Logged In
    </th>

    <th>
      Email
    </th>

    <th>
    </th>
  </tr>

  <% @active_users.each do |user| %>
  
  <tr>
    <td>
      <%= user.id %>
    </td>

    <td>
      <%= user.first_name %> <%= user.last_name %>
    </td>

    <td>
      <%= user.seniority %>
    </td>

    <td>
      <%= user.last_sign_in_at.strftime("%b %d, %Y") %>
    </td>

    <td>
      <%= user.email %>
    </td>

    <td>
      <a href="/users/<%= user.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>

<% if current_user.seniority == "Chief" %>

  <h3>
    Inactive Residents
  </h3>
  <table class="table">
    <tr>
      <th>
        Resident ID
      </th>
  
      <th>
        Resident Name
      </th>
  
      <th>
        Seniority
      </th>
  
      <th>
        Last Logged In
      </th>
  
      <th>
        Email
      </th>
  
      <th>
      </th>
    </tr>
  
    <% @inactive_users.each do |user| %>
    
    <tr>
      <td>
        <%= user.id %>
      </td>
  
      <td>
        <%= user.first_name %> <%= user.last_name %>
      </td>
  
      <td>
        <%= user.seniority %>
      </td>
  
      <td>
        <%= user.last_sign_in_at.strftime("%b %d, %Y") %>
      </td>
  
      <td>
        <%= user.email %>
      </td>
  
      <td>
        <a href="/users/<%= user.id %>">
          Show details
        </a>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>
