<h1>
<% if current_user.id == @user.id %>
  My Details
  <% else %>
  Dr. <%= @user.last_name %> details
  <% end %>
</h1>

<a href="/users/edit">
  Edit Resident
</a>

<hr>

<dl>
  <dt>
    User Email
  </dt>
  <dd>
    <%= @user.email %>
  </dd>

  <dt>
    Seniority
  </dt>
  <dd>
    <%= @user.seniority %>
  </dd>

<% if current_user.seniority == "Chief" %>
   <table class="table">
    <tr>
      <th>
        Total Night Shifts
      </th>
      
      <th>
        Cross Cover Shifts
      </th>
      
      <th>
        Weekend Shifts
      </th>
    </tr>
    <tr>
      <td>
        <%= @night_count %>
      </td>
      
      <td>
          <%= @cross %>
      </td>
      
      <td>
        <%= @weekend %>
      </td>
    </tr>
  </table>
  
  <hr>
  
  <h3>
  <%= @user.last_name %>'s Upcoming Schedule
  </h3>
  
  <table class="table">
  <tr>

    <th>
      Resident
    </th>

    <th>
      Service
    </th>

    <th>
      Date
    </th>

    <th>
      Night
    </th>

    <th>
    </th>
  </tr>

  <% @shifts.each do |shift| %>
  
  <tr>

    <td>
      <%= User.find(shift.user_id).last_name %>
    </td>

    <td>
      <%= Service.find(shift.service_id).name %>
    </td>

    <td>
      <%= shift.date.strftime("%m/%d/%Y") %>
    </td>

    <td>
      <%= shift.night %>
    </td>

    <td>
      <a href="/shifts/<%= shift.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
<% end %>

<!--Can't Delete  yourself-->
<% if current_user.id == @user.id %>
<% else %>

<!--Must be a chief to delete users-->
  <% if User.find(current_user.id).seniority == "Chief" %>
    <a href="/delete_user/<%= @user.id %>">
      Delete user
    </a>

  <% end %>
<% end %>

<hr>

<a href="/users">
  Go back
</a>
