<h1>
  All Block Dates
</h1>

<a href="/blocks/new">
  Add a new block
</a>

<hr>

<table class="table">
  <tr>

    <th>
      Academic Year
    </th>

    <th>
      Block Number
    </th>

    <th>
      Start date
    </th>

    <th>
      End date
    </th>

    <th>
    </th>
  </tr>

  <% @blocks.each do |block| %>
  <tr>

    <td>
      <%= block.year %>
    </td>

    <td>
      <%= block.number %>
    </td>

     <td>
      <%= block.start_date.strftime("%m/%d/%y") %>
    </td>

     <td>
      <%= block.end_date.strftime("%m/%d/%y") %>
    </td>

    <td>
      <a href="/blocks/<%= block.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
