<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All recipes
    </h1>

    <a href="/recipes/new" class="btn btn-block btn-outline-secondary">
      Add a new recipe
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Number served
        </th>

        <th>
          User
        </th>

        <th>
          Description
        </th>

        <th>
          Total time
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @recipes.each do |recipe| %>
      <tr>
        <td>
          <%= recipe.id %>
        </td>

        <td>
          <%= recipe.title %>
        </td>

        <td>
          <%= recipe.number_served %>
        </td>

        <td>
          <%= recipe.user_id %>
        </td>

        <td>
          <%= recipe.description %>
        </td>

        <td>
          <%= recipe.total_time %>
        </td>

        <td>
          <%= time_ago_in_words(recipe.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(recipe.updated_at) %> ago
        </td>

        <td>
          <a href="/recipes/<%= recipe.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
