<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%=@building_amenity.building.name%> <%= @building_amenity.amenity.name %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/building_amenities" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/building_amenities/<%= @building_amenity.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit building amenity
        </a>
      </div>

      <div class="col">
        <a href="/delete_building_amenity/<%= @building_amenity.id %>" class="btn btn-block btn-outline-secondary">
          Delete building amenity
        </a>
      </div>
    </div>
    
    <form action="/create_amenity_picture" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="picture">
          Amenity Picture
        </label>
      
        <input type="file" id="picture" name="picture" class="form-control">
      </div>
      
      <div class="form-group">
        <label for="description">
          Description
        </label>

        <input type="text" id="description" name="description" class="form-control">
      </div>
      
      <input type="hidden" name="building_amenity_id" class="form-control" value="<%=@building_amenity.id%>">
      
      <button class="btn btn-block btn-outline-secondary">
        Upload amenity picture
      </button>
    </form>
    
  </div>
</div>

