<h1>
  Edit podcast #<%= @podcast.id %>
</h1>

<hr>

<form action="/update_podcast/<%= @podcast.id %>" method="post">

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @podcast.title %>">
  </div>

  <div class="form-group">
    <label for="first_part">
      First part
    </label>

    <input type="text" id="first_part" name="first_part" class="form-control" value="<%= @podcast.first_part %>">
  </div>

  <div class="form-group">
    <label for="second_part">
      Second part
    </label>

    <input type="text" id="second_part" name="second_part" class="form-control" value="<%= @podcast.second_part %>">
  </div>

  <div class="form-group">
    <label for="cover">
      Cover
    </label>

    <input type="text" id="cover" name="cover" class="form-control" value="<%= @podcast.cover %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update podcast
  </button>
</form>

<hr>

<a href="/podcasts">
  Go back
</a>
