<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%= @podcast.cover %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%=@podcast.title%></h5>
        <p class="card-text"> <%=@podcast.podcast_description%></p>
        <a href="/podcasts" class="btn btn-primary">Go back</a>
      </div>
    </div>
    </div>
    <div class="col-md-6">
     <div class="card">
        <div class="card-body">
          <% x=@podcast.title.gsub!(/\s+/, '_') + "_" + @podcast.episode.to_s + "_MP3WRAP.mp3" %>
          <% Dir.chdir('/home/ubuntu/workspace/app/assets/podcast_audio/') do %>
            <% if File.file?(x) %>
              <audio src="<%= asset_path(x) %>" controls="controls"></audio>
            <%else%>
              <% y= @podcast.title + "_" + @podcast.episode.to_s + ".mp3" %>
              
              <% merge_sounds(@podcast.first_part,"Chicago_ad.mp3",@podcast.second_part,y)%>
              
              <audio src="<%= asset_path(x) %>" controls="controls"></audio>
              
            <%end%>
          <%end%>
          
        </div>
      </div>
    </div>
  </div>
</div>
