<!-- Validation failure messages -->
<% if @location_weather.errors.any? %>
  <% @location_weather.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit location weather #<%= @location_weather.id %>
</h1>

<hr>

<form action="/update_location_weather/<%= @location_weather.id %>" method="post">
  <!-- Label and input for location_id -->
  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <input type="text" id="location_id" name="location_id" class="form-control" value="<%= @location_weather.location_id %>">
  </div>

  <!-- Label and input for month -->
  <div class="form-group">
    <label for="month">
      Month
    </label>

    <input type="text" id="month" name="month" class="form-control" value="<%= @location_weather.month %>">
  </div>

  <!-- Label and input for temperature -->
  <div class="form-group">
    <label for="temperature">
      Temperature
    </label>

    <input type="text" id="temperature" name="temperature" class="form-control" value="<%= @location_weather.temperature %>">
  </div>

  <!-- Label and input for weather -->
  <div class="form-group">
    <label for="weather">
      Weather
    </label>

    <input type="text" id="weather" name="weather" class="form-control" value="<%= @location_weather.weather %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update location weather
  </button>
</form>

<hr>

<a href="/location_weathers">
  Go back
</a>
