<h1>
  Request Details
</h1>

<a href="/vac_reqs/<%= @vac_req.id %>/edit">
  Update Vacation Request
</a>

<form action:"/delete_vac_req/<%=@vac_req.id %>">
<button class="btn btn-danger">Cancel Request</button>
</form>
  
<hr>

<dl>
  <dt>
    User
  </dt>
  <dd>
    <%= @vac_req.user_id %>
  </dd>

  <dt>
    Start date
  </dt>
  <dd>
    <%= @vac_req.start_date %>
  </dd>

  <dt>
    End date
  </dt>
  <dd>
    <%= @vac_req.end_date %>
  </dd>

  <dt>
    Approval
  </dt>
  <dd>
    <%= @vac_req.approval %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@vac_req.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@vac_req.updated_at) %> ago
  </dd>
</dl>

<a href="/delete_vac_req/<%= @vac_req.id %>">
  Delete vac req
</a>

<hr>

<a href="/vac_reqs">
  Go back
</a>
