<h1>
  Edit apartment photo #<%= @apartment_photo.id %>
</h1>

<hr>

<form action="/update_apartment_photo/<%= @apartment_photo.id %>" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @apartment_photo.description %>">
  </div>

  <div class="form-group">
    <label for="apartment_id">
      Apartment
    </label>

    <input type="text" id="apartment_id" name="apartment_id" class="form-control" value="<%= @apartment_photo.apartment_id %>">
  </div>

  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <input type="text" id="photo" name="photo" class="form-control" value="<%= @apartment_photo.photo %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update apartment photo
  </button>
</form>

<hr>

<a href="/apartment_photos">
  Go back
</a>
