<div class="container">
<h1>
  All locations
</h1>

<a href="/locations/new">
  Add a new location
</a>

<hr>

<table class="table">
  <tr>

    <th>
      City name
    </th>

    <th>
      State name
    </th>

    <th>
      Country name
    </th>

    <th>
      Ratings
    </th>

    <th>
    </th>
  </tr>

  <% @locations.each do |location| %>
  <tr>

    <td>
      <%= location.city_name %>
    </td>

    <td>
      <%= location.state_name %>
    </td>

    <td>
      <%= location.country_name %>
    </td>

    <td>
      <%
      
          
      @relax = 0
      @nightlife = 0
      @family = 0
      @active = 0
      @culture = 0
       
       
        LocationActivity.where(location_id: location.id).each do |city|
            Activity.where(id: city.activity_id).each do |activity|
                if activity.category == "Relax"
                    @relax = @relax + city.feature_rating
                end
                
                if activity.category == "Night Life"
                    @nightlife = @nightlife + city.feature_rating
                end
                
                if activity.category == "Family"
                    @family = @family + city.feature_rating
                end
                
                if activity.category == "Active"
                    @active = @active + city.feature_rating
                end
                
                if activity.category == "Culture"
                    @culture = @culture + city.feature_rating
                end
            end
        end
        
       @total = @relax + @nightlife + @family + @active + @culture
       
       %>
       
        <p>Relax Count:  <%= ((@relax/@total) *100).round(2) %>%</p>
        <p>Night Life Count:  <%= ((@nightlife/@total) *100).round(2) %>%</p>
        <p>Family Count: <%= ((@family/@total) *100).round(2) %>%</p>
        <p>Active Count: <%= ((@active/@total) *100).round(2) %>%</p>
        <p>Culture Count: <%= ((@culture/@total) *100).round(2) %>%</p>
      

    </td>

    <td>
      <a href="/locations/<%= location.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
</div>
