<!-- Validation failure messages -->
<% if @location_geography.errors.any? %>
  <% @location_geography.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit location geography #<%= @location_geography.id %>
</h1>

<hr>

<form action="/update_location_geography/<%= @location_geography.id %>" method="post">
  <!-- Label and input for geography_id -->
  <div class="form-group">
    <label for="geography_id">
      Geography
    </label>

    <input type="text" id="geography_id" name="geography_id" class="form-control" value="<%= @location_geography.geography_id %>">
  </div>

  <!-- Label and input for location_id -->
  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <input type="text" id="location_id" name="location_id" class="form-control" value="<%= @location_geography.location_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update location geography
  </button>
</form>

<hr>

<a href="/location_geographies">
  Go back
</a>
