<h1>Meteorologist</h1>

<p>Here's the outlook for <%= @street_address %>:</p>

<dl>
  <dt>Current Temperature</dt>
  <dd><%= @current_temperature %></dd>

  <dt>Current Summary</dt>
  <dd><%= @current_summary %></dd>

  <dt>Outlook for next sixty minutes</dt>
  <dd><%= @summary_of_next_sixty_minutes %></dd>

  <dt>Outlook for next several hours</dt>
  <dd><%= @summary_of_next_several_hours %></dd>

  <dt>Outlook for next several days</dt>
  <dd><%= @summary_of_next_several_days %></dd>
</dl>
