    <div class = "row mb-3 container mx-0">
      <div class="card w-auto border border-primary">
        <div class="card-header">
          Edit Step <%= @step.sequence_number %> from <%= @step.recipe.title %>
        </div>
        <div class="card-body">
          <form action="/update_step/<%=@step.id%>" method="post">
            <input type="hidden" id="recipe_id" name="recipe_id" class="form-control" value = "<%=@step.recipe_id%>">
            <input type="hidden" id="user_id" name="user_id" class="form-control" value = "<%= current_user.id %>">
            <div class="form-row">
              <div class ="col">
                <label>
                  Active step? (as in, can you sit around and scroll twitter or are you chopping shit?)
                </label>
              </div>
              <div class ="col">
                <label>
                  Step Number (as in, what step in the recipe is this?
                </label>
              </div>
              <div class ="col">
                <label>
                  Step time (in minutes - it is ok to estimate!)
                </label>
              </div>              
            </div>    
            <div class="form-row">
              <div class="col">
                <select class="form-control form-control-md" id="active" name="active">
                  <option <% if @step.active == 1 %> <%= "selected" %> <% end%> value="1">Yes</option>
                  <option <% if @step.active == 0 %> <%= "selected" %> <% end%> value="0">No</option>
                </select>
              </div>
              <div class="col">
                <input type="text" class="form-control"  id="sequence_number" name="sequence_number" value="<%=@step.sequence_number%>" >
              </div>
              <div class="col">
                <input type="text" class="form-control" value= "<%=@step.time_length%>" name="time_length" id=" time_lengthclass" class="form-control" >
              </div>
            </div>    
            <div class="form-group">
              <label for="description">
                Description
              </label>
              <textarea id="description" name="description" class="form-control" rows="1"><%= @step.description %></textarea>
            </div>
            <div class="form-group">
              <label for="equipment_used">
                What equipment are you gonna use here?
              </label>
              <textarea id="equipment_used" name="equipment_used" class="form-control" rows="1"><%= @step.equipment_used %></textarea>            </div>            
            <button class="btn btn-block btn-outline-secondary">
              Update this step
            </button>
          </form>
        </div>
      </div>
    </div>
<a href="/steps">
  Go back
</a>
