<div class= "container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Check out what's been cooking with <%=@user.email %></h1>
        <p class="lead"><%= @user.email %> has been an awesome member of our community and has created <%= @user.recipes.count %> recipe<%if @user.recipes.count > 1 %>s<%end%>  and <%= @user.menus.count %> menu<%if @user.menus.count > 1 %>s<%end%> since joining <%= time_ago_in_words(@user.updated_at) %> ago</p>
      </div>
    </div>    
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <span class="text-center">
                <h5 class= "font-weight-bold">
                    Recipes
                </h5>
            </span>
            <% @user.recipes.each do |recipe|%>
              <div class="card text-center mb-3">
                <div class="card-header">
                  <h2>
                    <%=recipe.title%>
                  </h2>
                </div>
                <div class="card-body">
                  <p class="card-text"><%=recipe.description%></p>
                  <p> This recipe was created by <a href="users/<%=recipe.user_id%>"><%=recipe.user.email%></a> and serves <%= recipe.number_served %> </p>
                  <div class = "row">
                    <div class="col">
                      <a href="/recipes/<%=recipe.id%>" class="btn btn-primary">View Recipe</a>          
                    </div> 
                  </div>
                </div>
                <div class="card-footer text-muted">
                  Time to prepare: <%= recipe.total_time %> minutes
                </div>
              </div>
            <%end%>   
        </div>
        <div class="col">
            <span class="text-center">
                <h5 class= "font-weight-bold">
                    Menus
                </h5>
            </span>
            <% @user.menus.each do |menu| %>
             <div class="card text-center mb-3">
                <div class="card-header">
                  <h2>
                    <%=menu.name%>
                  </h2>
                </div>
                <div class="card-body">
                  <p class="card-text"><%=menu.description%></p>
                  <p> This menu was designed by <a href="users/<%=menu.user_id%>"><%=menu.user.email%></a> and serves <%= menu.servings %>. Under current settings, the menu is scheduled to be served at <%=menu.target_completion_time.hour%>:<%=menu.target_completion_time.min%> </p>
                  <div class = "row">
                    <div class="col">
                      <a href="/menus/<%=menu.id%>" class="btn btn-primary">View menu</a>          
                      <a href="/menus/cook/<%=menu.id%>" class="btn btn-primary">Cook menu</a>          
                    </div> 
                  </div>
                </div>
                <div class="card-footer text-muted">
                  Time to prepare: <%= menu.menu_total_time %> minutes
                </div>
              </div>
            <%end%>   
        </div>        
    </div>
</div>