<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Connect Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.2/css/all.css">

    <!-- Connect Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">-->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-87sz15XXg/vK1YUT8aQFH3EIw5aC/jbpolvTC264SVJfjOIBWv0V/o2FyyKclY8G" crossorigin="anonymous">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">Hospital Shift Tracker</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/myshifts">My Shifts</a></li>
          <li class="nav-item"><a class="nav-link" href="/users">Residents</a></li>
          <li class="nav-item"><a class="nav-link" href="/vac_reqs">Vacation Requests</a></li>
          <li class="nav-item"><a class="nav-link" href="/assignments">Block Schedule</a></li>
        <% if current_user == nil %>
          
        <% elsif current_user.seniority == "Chief" %>
          <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Chief Tools
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="/scheduling">Scheduling</a>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item" href="/services">Services</a>
         <a class="dropdown-item" href="/blocks">Blocks</a>
       </div>
     </li>
        <% end %>
        </ul>

        <ul class="navbar-nav">
         <% if current_user== nil %>
            <li class="nav-item">
              <a href="/users/sign_up" class="nav-link" >
                Sign Up
              </a>
            </li>
           
            <li class="nav-item">
              <a href="/users/sign_in" class="nav-link" >
                Sign In
              </a>
            </li>
          <% else %>
            <li class="nav-item">
              <a href="/users/edit" class="nav-link" >
                <%= current_user.email %>
              </a>
            </li>
          <li class="nav-item">
            <a href="/users/sign_out" data-method="delete" class="nav-link">
              Sign Out
            </a>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container mt-4">
      <% if notice.present? %>
        <div class="alert alert-dismissable alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= notice %>
        </div>
      <% end %>

      <% if alert.present? %>
        <div class="alert alert-dismissable alert-warning">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <%= dev_tools if Rails.env.development? %>
  </body>
</html>
